{% extends "article_base.html" %}

{% block content %}
    {% for article_obj in article_list %}
                <ul class="media-list">
                    <li class="media">
                        <h4 class="media-heading"><a href="/{{ username }}/article/{{ article_obj.pk }}">{{ article_obj.title }}</a></h4>
                        <div class="media-left">
                          <a href="#">
                            <img class="media-object" src="/files/{{ article_obj.blog.userinfo.avatar }}" alt="..." width="80px">
                          </a>
                        </div>
                        <div class="media-body">
                          {{ article_obj.desc }}
                        </div>
{#                        posted @ 2020-05-06 09:05 武沛齐 阅读(1434) 评论(7) 推荐(9) 编辑#}
                        <div class="pull-right">
                            <span>posted&nbsp;&nbsp;</span>
                            <span>@&nbsp;&nbsp;</span>
                            <span>{{ article_obj.create_time|date:"Y-m-d" }}&nbsp;&nbsp;</span>
                            <span>{{ article_obj.blog.userinfo.username }}&nbsp;&nbsp;</span>
                            <span>评论<i class="fa fa-comment-o" aria-hidden="true"></i>({{ article_obj.comment_num }})&nbsp;&nbsp;</span>
                            <span>点赞<i class="fa fa-thumbs-o-up" aria-hidden="true"></i>({{ article_obj.up_num }})&nbsp;&nbsp;</span>
                            <span><a href="#">编辑</a></span>
                        </div>
                    </li>
                </ul>
                <hr>
            {% endfor %}
{% endblock %}